@import url('https://fonts.googleapis.com/css?family=Muli');
@import "variables";

body {
    font-family: $font-default;
}

.navbar {
    background: $blue-default;
}


/* SPLASH SCREEN */

.splash-intro, #splash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $pink-default;
    position: fixed;
    top: 0;
    z-index: 9999999 !important;
}

.splash-intro .modal-content {
    width: 100vw;
    height: 100vh;
    background-color: #fc5296;
    background-image: radial-gradient(circle,#f67062 0%, $pink-default 74%); 
    color: $white;
    border-radius: 0;
    box-shadow: none;
    border: none;
    text-align: center;

    /* animation */
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* MODAL */
.close {
    opacity: 100;
    float: none;
    padding: 20px 100px;
    text-shadow: none;
    color: $pink-default;
    background-color: $white;
    border-radius: 50px;
    font-size: 1.5em;
    &:hover {
        opacity: 100;
        color: #fff;
        border-color: transparent;

    }
}

.logo-intro {
    margin-top: 100px;
}

.texto {
    margin: 100px 0;
    h2 {
        font-size: 20px;
        margin: 0;
    }
}

.premiacao {
    border-radius: 5px;
    color: $black;
    padding: 10px;
    margin: 30px 0;
    text-align: left;
    img {
        width: 50px;
        float: left;
        margin-right: 10px;
    }
    p {
        margin: 5px 0;
        font-size: 1.2em;
        color: $white;
        line-height: 1.2;
        text-align: center;
    }
}

.start {
    height: 70px;
}

