body {
  background: #3BABE0;
}
.logo {
  text-align: center;
  padding-top: 10px;
}
.logo img {
  width: 200px;
}
.chart-container {
    position: relative;
    margin: 10px 0px;
    height: 40vh;
    width: 100%;
    background: #fff;
    border-radius: 5px;
  }